@use "../utilites/colors.scss" as clr;

.loder {
    color: clr.$theme_color;
    background-color: #00000021;
    position: absolute;
    width: 86%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    z-index: 1;

    &_icon {
        animation: spin 0.7s infinite;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}