@use "../utilites/colors.scss" as clr;
@use "../abstract/mixins.scss" as res;

.loder {
    color: clr.$theme_color;
    background-color: #00000021;
    position: absolute;
    width: calc(100% - 4rem);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    z-index: 1;

    &_icon {
        animation: spin 0.7s infinite;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.App {
    display: flex;
    width: 100%;
    min-height: 100vh;



}

.holiday-btn {
    background-color: clr.$theme_color !important;
    transition: 500ms;

    :hover {
        transition: 500ms;
    }
}

.employee_add-btn {
    color: clr.$theme_color;
    text-decoration: underline;
    cursor: pointer;
}