@use "../utilites/colors.scss" as clr;
@use"../utilites/fonts.scss" as ft;

.attendence_page {
    &_table {
        font-family: ft.$theme_font;
        text-transform: capitalize;

        &_icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0rem;



            input {
                padding: 2px 5px;

            }

            &_add {
                font-size: 1.5rem !important;
                color: #000;

            }

            button {
                color: clr.$holiday_color
            }


        }

        &-tbody {
            input {
                border: none;
                outline: none;
                width: 100%;
                padding: 5px 0.5rem;
                font-weight: 500;
                font-family: ft.$theme_font;

            }

            .attendence {
                position: relative;
                cursor: pointer;



                &_dropdown {
                    transition: 500ms;

                    &_menus {
                        position: absolute;
                        text-align: left;
                        left: 0px;
                        background-color: #fff;
                        z-index: 100;
                        box-shadow: 0px 2px 5px 0px rgb(125, 125, 125);
                        transition: 500ms;
                        border-radius: 5px;
                        overflow: hidden;

                        p {
                            padding: 0.5rem 0.5rem;
                            margin: 0px;
                            border-bottom: 1px solid;
                            font-size: 1rem;
                            font-weight: 500;


                        }

                        .present {
                            color: clr.$theme_color;

                        }

                        .absent {
                            color: clr.$danger_color
                        }
                    }


                }
            }
        }
    }


}